@mixin mainButtons{
    font-size: 1.1rem;
    width: 220px;
    height: 50px;
    border: none;
    border-radius: 50px;
    background: linear-gradient(175deg, #FF79DA, #9356DC);
    box-shadow: $boxShadow;
    transition: all .2s ease-out;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $fontColorBtn;
    text-decoration: none;
    &:hover{
        box-shadow: $boxShadowHover;
        filter:brightness(1.1);
    }
    @include tablettes-only{
        width: 340px;
        height: 75px;
        font-size: 1.4rem;
    }
    @include desktop-only{
        width: 420px;
        height: 80px;
        font-size: 1.6rem;
    }
}
@mixin coursesAnimation{
    width: 0%;
    height: auto;
    animation: showCourses .4s ease-out forwards 1;
    opacity: 0;
}

@mixin heart{
    transition-duration: .25s;
    font-weight: 400;
        &:hover{
            font-weight: 900;
            background:linear-gradient(to bottom, #9356DC, #FF79DA);
            color: transparent;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
           cursor: pointer;
        }
}
//media querries
@mixin tablettes-only { 
    @media screen and (min-width: map-get($breakpoints, mobile)) and (max-width : map-get($breakpoints, desktop)) { 
      @content 
    } 
  };

  @mixin desktop-only { 
    @media screen and (min-width : map-get($breakpoints, desktop)) { 
      @content 
    } 
  };