@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
footer {
  height: 220px;
  background-color: #353535;
  padding: 0 6%;
  color: white;
}
footer .footer--title {
  font-family: "Shrikhand", sans-serif;
  display: block;
  padding: 25px 0;
  font-size: 1.2rem;
  margin: 0;
}
footer .footer--section {
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-items: space-between;
}
footer .footer--section a {
  color: white;
  text-decoration: none;
  padding: 7px 0;
}
footer .footer--section .utensils::before {
  content: "";
  width: 15px;
  height: 15px;
  display: inline-block;
  margin-right: 15px;
  background-image: url(../images/svg/utensils.svg);
  background-size: 15px 15px;
}
footer .footer--section .handshake::before {
  content: "";
  width: 15px;
  height: 15px;
  display: inline-block;
  margin-right: 15px;
  background-image: url(../images/svg/handshake.svg);
  background-size: 15px 15px;
  transform: rotate(-45deg);
}

header {
  height: 63px;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
header picture img {
  width: 165px;
  padding-top: 13px;
}
header .fa-arrow-left {
  position: absolute;
  left: 6.4%;
  top: 50%;
  transform: translateY(-50%);
  color: #000000;
}

.wrapper--menu {
  position: relative;
  height: fit-content;
  display: flex;
  flex-direction: column;
}

.mainPicture {
  object-fit: contain;
  width: 375px;
  height: 375px;
  position: absolute;
  z-index: 1000;
  background-position: center;
  background-repeat: no-repeat;
}

.mainPicture--aLaFrancaise {
  background-image: url(../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
  background-size: 375px 275px;
  background-position: top;
}

.mainPicture--laNoteEnchantee {
  background-image: url(../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
  background-position: bottom;
  background-size: cover;
}

.mainPicture--laPaletteDuGout {
  background-image: url(../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
  background-size: 375px 275px;
  background-position: top;
}

.mainPicture--leDelicedesSens {
  background-image: url(../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
  background-size: 375px 275px;
  background-position: top;
}

.mainContent {
  background-color: #F6F6F6;
  padding: 30px 4% 80px 5%;
  border-radius: 45px 45px 0 0;
  margin-top: 220px;
  z-index: 2000;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.mainContent--title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mainContent--title h1 {
  font-family: "Shrikhand", sans-serif;
  font-size: 1.8rem;
  letter-spacing: -0.7px;
}
.mainContent--title .like {
  margin-right: 20px;
  width: 30px;
  height: 30px;
}

.mainContent--starters, .mainContent--mains, .mainContent--desserts {
  margin: 0 0 2.7vh 0;
}
.mainContent--starters h4, .mainContent--mains h4, .mainContent--desserts h4 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1rem;
  margin-bottom: 25px;
  position: relative;
}
.mainContent--starters h4::before, .mainContent--mains h4::before, .mainContent--desserts h4::before {
  content: "";
  height: 3px;
  width: 40px;
  background-color: #99E2D0;
  position: absolute;
  bottom: -7px;
}

.mainContent--starters {
  margin-top: 4vh;
}

.mainContent--starters .course {
  width: 0%;
  height: auto;
  animation: showCourses 0.4s ease-out forwards 1;
  opacity: 0;
}

.mainContent--mains .course {
  width: 0%;
  height: auto;
  animation: showCourses 0.4s ease-out forwards 1;
  opacity: 0;
  animation-delay: 0.2s;
}

.mainContent--desserts .course {
  width: 0%;
  height: auto;
  animation: showCourses 0.4s ease-out forwards 1;
  opacity: 0;
  animation-delay: 0.3s;
}

.course {
  width: 100%;
  height: 68px;
  background-color: #FFFFFF;
  margin: 1.8vh 0;
  display: flex;
  align-items: space-between;
  border-radius: 15px;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.course:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
}
.course:hover .fa-circle-check {
  animation: iconRotate 0.4s;
  opacity: 1;
}
.course:hover .course--added {
  width: 60px;
}
.course:hover .course--details {
  width: 43%;
}
.course:hover .course--details__title, .course .course--details__subtitle {
  white-space: nowrap;
  text-overflow: ellipsis;
}
.course .course--details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 0 15px 10px;
  transition: 0.3s;
  width: 80%;
}
.course .course--details__title, .course .course--details__subtitle {
  overflow: hidden;
}
.course .title {
  font-weight: 700;
  font-size: 1.1rem;
}
.course .subtitle {
  font-size: 0.9rem;
}
.course .course--price {
  margin-left: auto;
  display: flex;
  align-items: flex-end;
}
.course .price {
  padding: 0 20px 12px 0;
  font-weight: 700;
}
.course .course--added {
  width: 0;
  height: 68px;
  border-radius: 0 15px 15px 0;
  background-color: #99E2D0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}
.course .fa-circle-check {
  color: white;
  width: 20px;
  opacity: 0;
}

.mainContent--button {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainContent--button .button--order {
  font-size: 1.1rem;
  width: 220px;
  height: 50px;
  border: none;
  border-radius: 50px;
  background: linear-gradient(175deg, #FF79DA, #9356DC);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-out;
  color: 1.5rem;
  width: 185px;
}
.mainContent--button .button--order a {
  color: #FFFFFF;
  text-decoration: none;
}
.mainContent--button .button--order:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
}

@keyframes iconRotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes showCourses {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  70% {
    opacity: 0.7;
  }
  90% {
    opacity: 0.9;
  }
  100% {
    width: 100%;
    transform: none;
    opacity: 1;
  }
}
.wrapper {
  display: flex;
  flex-direction: row;
  width: 200vw;
  height: 100%;
  overflow-x: hidden;
}
.wrapper .loader {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: hide 0.2s ease-out forwards 1;
  animation-delay: 3s;
  position: relative;
  background-color: #F6F6F6;
}
.wrapper circle {
  fill: none;
  stroke: #9356dc;
  stroke-width: 10px;
  stroke-dasharray: 100 100;
  stroke-dashoffset: 70;
  animation: spine 3s ease-in-out forwards 1;
}
.wrapper #spinner {
  transform: translateX(-50px);
  filter: drop-shadow(50px 0 #ff79da);
  position: absolute;
  top: 45%;
  left: 45%;
  transform: translate(-50%, -50%);
  animation: hide 0.2s ease forwards 1;
  animation-delay: 3s;
}
.wrapper .indexContent {
  width: 100vw;
  height: 100%;
  transition: all ease-out;
}
.wrapper .indexContent .location {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EAEAEA;
}
.wrapper .indexContent .location .location--currentLocation {
  padding: 0 28px 0 15px;
  font-weight: 700;
}
.wrapper .indexContent .explore {
  min-height: 280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5% 8% 6% 8%;
  background-color: #F6F6F6;
}
.wrapper .indexContent .explore h1 {
  font-size: 1.5rem;
  text-align: center;
  padding: 0 5% 3% 5%;
}
.wrapper .indexContent .explore h2 {
  font-weight: 400;
  font-size: 1.1rem;
  text-align: center;
  padding-bottom: 4%;
}
.wrapper .indexContent .explore .explore--button {
  font-size: 1.1rem;
  width: 220px;
  height: 50px;
  border: none;
  border-radius: 50px;
  background: linear-gradient(175deg, #FF79DA, #9356DC);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-out;
}
.wrapper .indexContent .explore .explore--button a {
  color: #FFFFFF;
  text-decoration: none;
}
.wrapper .indexContent .explore .explore--button:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
}
.wrapper .indexContent .operation {
  padding: 6% 5% 6% 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.wrapper .indexContent .operation .operation--title {
  font-size: 1.5rem;
  padding-top: 10%;
}
.wrapper .indexContent .operation .operation--buttons {
  min-height: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.wrapper .indexContent .operation .operation--button {
  width: 325px;
  height: 75px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  position: relative;
  align-items: center;
  border-radius: 50px;
  transition: all 0.2s ease-out;
  background-color: #F6F6F6;
}
.wrapper .indexContent .operation .operation--button .operation--button__content {
  text-align: center;
  display: block;
  width: 100%;
  font-weight: 700;
}
.wrapper .indexContent .operation .operation--button .fa-solid {
  position: absolute;
  left: 12.5%;
  top: 50%;
  transform: translateY(-50%);
}
.wrapper .indexContent .operation .operation--button .operation--button__number {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 50%;
  transform: translateY(-50%);
  left: -10px;
  border-radius: 50%;
  background-color: #9356DC;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  font-size: 0.6rem;
}
.wrapper .indexContent .operation .operation--button:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
  background-color: rgba(146, 86, 220, 0.1764705882);
}
.wrapper .indexContent .operation .operation--button:hover .fa-solid {
  color: #9356DC;
  box-shadow: none;
}
.wrapper .indexContent #restaurants {
  padding: 6% 5% 6% 5%;
  min-height: 1225px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #F6F6F6;
}
.wrapper .indexContent #restaurants .restaurants--title {
  font-size: 1.5rem;
  padding: 15% 0 2% 0;
}
.wrapper .indexContent #restaurants .restaurants--cards {
  min-height: 1205px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.wrapper .indexContent #restaurants .restaurant--card {
  width: 335px;
  height: 250px;
  display: flex;
  flex-direction: column;
  margin: 1.5% 0;
  position: relative;
  border-radius: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-out;
}
.wrapper .indexContent #restaurants .restaurant--card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
}
.wrapper .indexContent #restaurants .restaurant--card .restaurant--card__img {
  width: 100%;
  min-width: 335px;
  height: 68%;
  border-radius: 15px 15px 0 0;
  object-fit: cover;
}
.wrapper .indexContent #restaurants .restaurant--card .restaurant--card__content {
  height: 32%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  padding: 17px 0 17px 4%;
  background-color: white;
  border-radius: 0 0 15px 15px;
}
.wrapper .indexContent #restaurants .restaurant--card h3 {
  margin: 0;
}
.wrapper .indexContent #restaurants .restaurant--card a {
  text-decoration: none;
  color: #000000;
}
.wrapper .indexContent #restaurants .restaurant--card .like {
  position: absolute;
  right: 7.5%;
  top: 50%;
  transform: translateY(-50%);
  fill: #ff79da;
}
.wrapper .indexContent #restaurants .restaurant--card .like:hover path {
  fill: #9356DC;
}
.wrapper .indexContent #restaurants .restaurant--card .restaurant--card__new {
  position: absolute;
  width: 24%;
  height: 12%;
  right: 14px;
  top: 14px;
  border-radius: 5px;
  background-color: #99E2D0;
  color: #008766;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes spine {
  0% {
    stroke-dasharray: 10 10;
    stroke-dashoffset: 70;
    transform: scale(1);
    opacity: 1;
  }
  50% {
    stroke: #ff79da;
    transform: scale(0.9);
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  80% {
    opacity: 0.8;
  }
  100% {
    stroke-dasharray: 20 20;
    stroke-dashoffset: -200;
    transform: scale(1);
    opacity: 0;
  }
}
@keyframes show {
  0% {
    width: 0;
  }
  100% {
    width: 100vw;
  }
}
@keyframes hide {
  0% {
    width: 100vw;
  }
  100% {
    width: 0;
  }
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
body h1,
body h2,
body h3,
body h4 {
  margin: 0;
}

/*# sourceMappingURL=style.css.map */
