.wrapper--menu{
    position: relative;
    height: fit-content;
    display: flex;
    flex-direction: column;
}
.mainPicture{ 
    object-fit: contain;
    width: 100vw;
    height: 375px;
    position: absolute;
    z-index: 1000;
    background-position: center;
    background-repeat: no-repeat;
    @include tablettes-only{
        height: 80vh;
    }
    @include desktop-only{
        height: 100vh;
    }
}

.mainPicture--aLaFrancaise{
    background-image: url(../../../assets/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
    background-size: 100vw auto;
    background-position: top;
    background-size: cover;
    @include desktop-only{
        background-position: -50%;
    }
} 
.mainPicture--laNoteEnchantee{
    background-image: url(../../../assets/images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
    background-position: bottom;
    background-size: 100vw  auto;
    background-size: cover;
    @include desktop-only{
        background-position: -50%;
    }
}
.mainPicture--laPaletteDuGout{
    background-image: url(../../../assets/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
    background-size: 100vw auto;
    background-position: top;
    background-size: cover;
    @include desktop-only{
        background-position: -50%;
    }
}
.mainPicture--leDelicedesSens{
    background-image: url(../../../assets/images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
    background-size: 100vw auto;
    background-position: top;
    background-size: cover;
    @include desktop-only{
        background-position: -50%;
    }
}
.mainContent{
 background-color: $backgroundColorDarker;
    padding: 30px 4% 80px 5%;
    border-radius: 45px 45px 0 0;
    margin-top: 220px;
    z-index: 2000;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    @include tablettes-only{
        margin-top: 40vh;
        padding: 30px 0 80px 0;
        align-items: center;
        justify-content: center;
    }
    @include desktop-only{
        margin-top: 75vh;
        padding: 30px 0 80px 0;
        align-items: center;
        justify-content: center;
    }
}
.mainContent--title{  
    width: 100%;  
    display: flex;
    justify-content: space-between;
    align-items: center;
     h1{
    font-family: $fontShrikhand;
    font-size: 1.8rem;
    letter-spacing: -0.7px;
    @include tablettes-only{
        font-size: 2.4rem;
        padding-left: 25%;
        letter-spacing: 0;
    }
    @include desktop-only{
        font-size: 3rem;
        padding-left: 25%;
        letter-spacing: 0;
    }
    }
    .like{
        margin-right: 20px;
        width: 30px;
        height: 30px;
        @include tablettes-only{
            margin-right: 40px;
            width: 40px;
            height: 40px;
        }
        @include desktop-only{
            margin-right: 60px;
        }
    }
}

.mainContent--starters, .mainContent--mains, .mainContent--desserts{
    margin: 0 0 2.7vh 0;
    h4{
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1rem;
    margin-bottom: 25px;
    position: relative;
    &::before{
        content: '';
        height: 3px;
        width: 40px;
        background-color: $colorThrid;
        position: absolute;
        bottom: -7px;
        @include tablettes-only{
            width: 60px;
        }
    }
    @include tablettes-only{
        font-size: 1.2rem;
    }
    @include desktop-only{
        font-size: 1.4rem;
    }
    }
}
.mainContent--starters{
    margin-top: 4vh;
}
.mainContent--starters .course{
   @include coursesAnimation;
}
.mainContent--mains .course{
    @include coursesAnimation;
    animation-delay: .2s;
 }
 .mainContent--desserts .course{
    @include coursesAnimation;
    animation-delay: .3s;
 }
 .mainContent--starters, .mainContent--mains, .mainContent--desserts {
    @include tablettes-only{
        width: 80vw;
    }
    @include desktop-only{
        width: 60vw;
    }
 }
.course{
    width: 100%;
    height: 68px;
    background-color: #FFFFFF;
    margin: 1.8vh 0;
    display: flex;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: $boxShadow;
    &:hover{
        box-shadow: $boxShadowHover;
    }
    &:hover .fa-circle-check{
        animation: iconRotate .4s;
        opacity: 1;
    }
    &:hover .course--added{
        width: 60px;
        @include tablettes-only{
            width: 80px;
        }
        @include desktop-only{
            width: 100px;
        }
    }
    &:hover .course--details {
        width: 43%;
        @include tablettes-only{
            width: 80%;
        }
        @include desktop-only{
            width: 80%;
        }
    }
    .course--details{
        display: flex;
        flex-direction:column;
        padding: 10px 0 15px 10px;
        transition : .3s;
        width: 80%;
        @include tablettes-only{
            justify-content: center;
            padding: 0 0 0 15px;
        }
        @include desktop-only{
            justify-content: center;
            padding: 0 0 0 25px;
        }
    }
    .course--details__title, .course--details__subtitle{
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .title{
        font-weight: 700;
        font-size: 1.1rem;
        @include tablettes-only{
            font-size: 1.3rem;
        }
        @include desktop-only{
            font-size: 1.5rem;
        }
    }
    .subtitle{
        font-size: .9rem;
        @include tablettes-only{
            font-size: 1.1rem;
        }
        @include desktop-only{
            font-size: 1.3rem;
        }
    }
    .course--price{
        margin-left: auto;
        display:flex;
        align-items: flex-end;
    }
    .price{
        padding: 0 20px 12px 0;
        font-weight: 700;
        @include tablettes-only{
            font-size: 1.2rem;
            padding: 0 20px 20px 0;
        }
        @include desktop-only{
            font-size: 1.4rem;
            padding: 0 30px 30px 0;
        }
    }
    .course--added{
        width: 0;
        height: 68px;
        border-radius: 0 15px 15px 0;
        background-color: $colorThrid;
        display: flex;
        align-items: center;
        justify-content: center;
        transition : .3s;
        @include tablettes-only{
            height: 80px;
        }
        @include desktop-only{
            height: 100px;
        }
    }
    .fa-circle-check{
        color: white;
        width: 20px;
        opacity: 0;
    }
    @include desktop-only{
        margin: 2vh 0;
    }
}
.mainContent--button{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    .button--order{
        @include mainButtons;
        width: 185px;
    }
}

@keyframes iconRotate{
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
}
@keyframes showCourses{
    0%{
        opacity: 0;
    }
    50%{
        opacity: .5;
    }
    70%{
        opacity: .7;
    }
    90%{
        opacity: .9;
    }
    100%{
        width: 100%;
        transform: none;
        opacity: 1;
    }
}