@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
footer {
  width: 100%;
  min-height: 195px;
  background-color: #353535;
  padding: 0 5.3%;
  color: white;
}
footer .footer--title {
  font-family: "Shrikhand", sans-serif;
  display: block;
  padding: 25px 0;
  font-size: 1.2rem;
  margin: 0;
  text-decoration: none;
  color: white;
}
@media screen and (min-width: 599px) and (max-width: 1200px) {
  footer .footer--title {
    font-size: 1.7rem;
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  footer .footer--title {
    font-size: 2.4rem;
    padding: 30px 10%;
    text-align: center;
  }
}
footer .footer--section {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  margin: 0;
  padding-bottom: 34px;
}
footer .footer--section li {
  padding: 0 0 14px 0;
  text-decoration: none;
  width: 100%;
}
footer .footer--section li a {
  color: white;
  text-decoration: none;
  position: relative;
}
@media screen and (min-width: 599px) and (max-width: 1200px) {
  footer .footer--section li {
    font-size: 1.1rem;
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  footer .footer--section li {
    font-size: 1.2rem;
    text-align: center;
  }
}
footer .footer--section li:nth-child(-n+2) {
  padding-left: 20px;
}
@media screen and (min-width: 599px) and (max-width: 1200px) {
  footer .footer--section li:nth-child(-n+2) {
    padding-left: 40px;
  }
}
@media screen and (min-width: 1200px) {
  footer .footer--section li:nth-child(-n+2) {
    padding-left: 40px;
  }
}
@media screen and (min-width: 599px) and (max-width: 1200px) {
  footer .footer--section {
    flex-direction: row;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1200px) {
  footer .footer--section {
    flex-direction: row;
    justify-content: space-between;
  }
}
footer .fa-handshake-angle {
  transform: rotate(-20deg);
}
footer .fa-handshake-angle,
footer .fa-utensils {
  position: absolute;
  padding-right: 15px;
  left: -40px;
  top: 50%;
  transform: translateY(-50%);
  color: white;
}
@media screen and (min-width: 599px) and (max-width: 1200px) {
  footer .fa-handshake-angle,
footer .fa-utensils {
    left: -60px;
  }
}
@media screen and (min-width: 1200px) {
  footer .fa-handshake-angle,
footer .fa-utensils {
    left: -60px;
  }
}

header {
  height: 63px;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
@media screen and (min-width: 599px) and (max-width: 1200px) {
  header {
    height: 100px;
  }
}
@media screen and (min-width: 1200px) {
  header {
    height: 120px;
  }
}
header .header--title {
  animation: backgroundRotate 20s infinite linear;
  background-image: linear-gradient(175deg, #9356DC, #FF79DA);
  font-family: "Shrikhand", sans-serif;
  font-size: 2rem;
  height: fit-content;
  width: 100%;
  text-align: center;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  background-size: 100%;
  background-repeat: repeat;
  text-decoration: none;
}
@media screen and (min-width: 599px) and (max-width: 1200px) {
  header .header--title {
    font-size: 1.7rem;
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  header .header--title {
    font-size: 2.4rem;
    padding: 30px 10%;
    text-align: center;
  }
}
header .header--arrow {
  position: absolute;
  left: 6.4%;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.3s ease-out;
}
header .header--arrow .fa-arrow-left {
  color: #000000;
}
@media screen and (min-width: 599px) and (max-width: 1200px) {
  header .header--arrow .fa-arrow-left {
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 1200px) {
  header .header--arrow .fa-arrow-left {
    font-size: 1.5rem;
  }
}

@keyframes backgroundRotate {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(-90deg);
  }
}
.wrapper--menu {
  position: relative;
  height: fit-content;
  display: flex;
  flex-direction: column;
}

.mainPicture {
  object-fit: contain;
  z-index: 1000;
  width: 100%;
  max-height: 32rem;
}
@media screen and (min-width: 599px) and (max-width: 1200px) {
  .mainPicture {
    object-fit: cover;
  }
}
@media screen and (min-width: 1200px) {
  .mainPicture {
    object-fit: cover;
  }
}

.mainContent {
  background-color: #F6F6F6;
  padding: 30px 5.3% 84px 5.3%;
  border-radius: 40px 40px 0 0;
  margin-top: -30px;
  z-index: 2000;
  height: 1195px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (min-width: 599px) and (max-width: 1200px) {
  .mainContent {
    align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .mainContent {
    flex-wrap: wrap;
    flex-direction: row;
    height: fit-content;
    justify-content: center;
  }
}

.mainContent--head {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mainContent--head .fa-heart {
  transition-duration: 0.25s;
  font-size: 2rem;
  margin-right: 25px;
}
.mainContent--head .fa-heart:hover {
  font-weight: 900;
  background: linear-gradient(to bottom, #9356DC, #FF79DA);
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}
@media screen and (min-width: 599px) and (max-width: 1200px) {
  .mainContent--head .fa-heart {
    margin-right: 40px;
    width: 40px;
    height: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .mainContent--head .fa-heart {
    margin-right: 60px;
  }
}
.mainContent--head h1 {
  font-family: "Shrikhand", sans-serif;
  font-size: 1.8rem;
  letter-spacing: -0.7px;
  position: relative;
  font-weight: 400;
  margin: 0;
}
@media screen and (min-width: 599px) and (max-width: 1200px) {
  .mainContent--head {
    font-size: 2.4rem;
    letter-spacing: 0;
  }
}
@media screen and (min-width: 1200px) {
  .mainContent--head {
    font-size: 3rem;
    letter-spacing: 0;
    padding-left: 5%;
  }
}
@media screen and (min-width: 599px) and (max-width: 1200px) {
  .mainContent--head {
    padding: 0 0 100px 0;
  }
}
@media screen and (min-width: 1200px) {
  .mainContent--head {
    padding: 0 5.3% 100px 5.3%;
  }
}

section {
  display: flex;
  flex-direction: column;
}
section .mainContent--subtitle {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1rem;
  margin: 0 0 16px 0;
  position: relative;
}
section .mainContent--subtitle::before {
  content: "";
  height: 3px;
  width: 40px;
  background-color: #99E2D0;
  position: absolute;
  bottom: -8px;
}
@media screen and (min-width: 599px) and (max-width: 1200px) {
  section .mainContent--subtitle::before {
    width: 60px;
  }
}
@media screen and (min-width: 599px) and (max-width: 1200px) {
  section .mainContent--subtitle {
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 1200px) {
  section .mainContent--subtitle {
    font-size: 1.4rem;
  }
}
@media screen and (min-width: 599px) and (max-width: 1200px) {
  section {
    width: 75%;
  }
}
@media screen and (min-width: 1200px) {
  section {
    width: 30%;
    margin: 0 1rem 16px 1rem;
  }
}

.mainContent--starters .course {
  height: auto;
  animation: showCourses 0.7s ease-out forwards 1;
  opacity: 0;
  transform: translateY(20px);
  opacity: 0;
}

.mainContent--mains .course {
  height: auto;
  animation: showCourses 0.7s ease-out forwards 1;
  opacity: 0;
  transform: translateY(20px);
  animation-delay: 0.2s;
}

.mainContent--desserts .course {
  height: auto;
  animation: showCourses 0.7s ease-out forwards 1;
  opacity: 0;
  transform: translateY(20px);
  animation-delay: 0.3s;
}

.course {
  width: 100%;
  height: 68px;
  background-color: #FFFFFF;
  margin: 0 0 16px 0;
  display: flex;
  border-radius: 15px;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.course:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
}
.course:hover .fa-circle-check {
  animation: iconRotate 0.3s ease-out;
  opacity: 1;
}
.course:hover .course--added {
  width: 60px;
}
@media screen and (min-width: 599px) and (max-width: 1200px) {
  .course:hover .course--added {
    width: 80px;
  }
}
@media screen and (min-width: 1200px) {
  .course:hover .course--added {
    width: 100px;
  }
}
.course:hover .course--details {
  width: 43%;
}
@media screen and (min-width: 599px) and (max-width: 1200px) {
  .course:hover .course--details {
    width: 60%;
  }
}
@media screen and (min-width: 1200px) {
  .course:hover .course--details {
    width: 60%;
  }
}
.course .course--details {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 10px 0 10px 10px;
  transition: all 0.3s ease-out;
  width: 80%;
}
@media screen and (min-width: 599px) and (max-width: 1200px) {
  .course .course--details {
    justify-content: center;
    padding: 0 0 0 15px;
  }
}
@media screen and (min-width: 1200px) {
  .course .course--details {
    justify-content: center;
    padding: 0 0 0 25px;
  }
}
.course .course--details__title,
.course .course--details__subtitle {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.course .title {
  font-weight: 700;
  font-size: 1.1rem;
}
@media screen and (min-width: 599px) and (max-width: 1200px) {
  .course .title {
    font-size: 1.3rem;
  }
}
@media screen and (min-width: 1200px) {
  .course .title {
    font-size: 1.3rem;
  }
}
.course .subtitle {
  font-size: 0.9rem;
}
@media screen and (min-width: 599px) and (max-width: 1200px) {
  .course .subtitle {
    font-size: 1.1rem;
  }
}
@media screen and (min-width: 1200px) {
  .course .subtitle {
    font-size: 1.1rem;
  }
}
.course .course--price {
  margin-left: auto;
  display: flex;
  align-items: flex-end;
}
.course .price {
  padding: 0 20px 12px 0;
  font-weight: 700;
}
.course .course--added {
  width: 0;
  height: 68px;
  border-radius: 0 15px 15px 0;
  background-color: #99E2D0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-out;
}
.course .fa-circle-check {
  color: white;
  font-size: 1rem;
  opacity: 0;
}
@media screen and (min-width: 599px) and (max-width: 1200px) {
  .course .fa-circle-check {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 1200px) {
  .course .fa-circle-check {
    font-size: 2rem;
  }
}
@media screen and (min-width: 1200px) {
  .course {
    max-width: 500px;
  }
}

.mainContent--button {
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainContent--button .button--order {
  font-size: 1.1rem;
  width: 220px;
  height: 50px;
  border: none;
  border-radius: 50px;
  background: linear-gradient(175deg, #FF79DA, #9356DC);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-out;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  text-decoration: none;
  width: 185px;
}
.mainContent--button .button--order:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
  filter: brightness(1.1);
}
@media screen and (min-width: 599px) and (max-width: 1200px) {
  .mainContent--button .button--order {
    width: 242px;
    height: 55px;
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 1200px) {
  .mainContent--button .button--order {
    width: 264px;
    height: 60px;
    font-size: 1.3rem;
  }
}
@media screen and (min-width: 1200px) {
  .mainContent--button {
    padding-top: 50px;
  }
}

@keyframes iconRotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes showCourses {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  50% {
    opacity: 0.5;
  }
  70% {
    opacity: 0.7;
  }
  90% {
    opacity: 0.9;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.loader {
  animation: hide 0.3s ease-out forwards 1 3000ms;
  background-color: #F6F6F6;
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loader .largeCircle {
  width: 160px;
  height: 160px;
  border: solid 20px #9356DC;
  border-top-color: #EEE;
  border-radius: 50%;
  transform: rotate(0);
  display: flex;
  align-items: center;
  justify-content: center;
  animation: spinner 3s ease-in-out forwards 1;
  opacity: 1;
}
@media screen and (min-width: 599px) and (max-width: 1200px) {
  .loader .largeCircle {
    width: 320px;
    height: 320px;
    border: solid 40px #9356DC;
    border-left-color: #EEE;
  }
}
@media screen and (min-width: 1200px) {
  .loader .largeCircle {
    width: 320px;
    height: 320px;
    border: solid 40px #9356DC;
    border-left-color: #EEE;
  }
}
.loader .mediumCircle {
  width: 115px;
  height: 115px;
  border: solid 20px #FF79DA;
  border-bottom-color: #EEE;
  border-radius: 50%;
  transform: rotate(0);
  display: flex;
  align-items: center;
  justify-content: center;
  animation: spinner 3s ease-in-out forwards 1;
  opacity: 1;
}
@media screen and (min-width: 599px) and (max-width: 1200px) {
  .loader .mediumCircle {
    width: 230px;
    height: 230px;
    border: solid 40px #FF79DA;
    border-left-color: #EEE;
  }
}
@media screen and (min-width: 1200px) {
  .loader .mediumCircle {
    width: 230px;
    height: 230px;
    border: solid 40px #FF79DA;
    border-left-color: #EEE;
  }
}
.loader .smallCircle {
  width: 50px;
  height: 50px;
  border: solid 15px #008766;
  border-left-color: #EEE;
  border-radius: 50%;
  transform: rotate(0);
  display: flex;
  animation: spinner 3s ease-in-out forwards 1;
  opacity: 1;
}
@media screen and (min-width: 599px) and (max-width: 1200px) {
  .loader .smallCircle {
    width: 100px;
    height: 100px;
    border: solid 30px #008766;
    border-left-color: #EEE;
  }
}
@media screen and (min-width: 1200px) {
  .loader .smallCircle {
    width: 100px;
    height: 100px;
    border: solid 30px #008766;
    border-left-color: #EEE;
  }
}

.indexContent {
  transform: translateX(9999px);
  animation: show 0.3s ease-out forwards 1 3000ms;
  width: 100%;
}

.location {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EAEAEA;
}
.location .location--currentLocation {
  font-weight: 700;
  display: block;
  text-align: center;
  position: relative;
}
.location .location--currentLocation .fa-location-dot {
  color: #000000;
  position: absolute;
  padding-right: 15px;
  left: -40px;
  top: 50%;
  transform: translateY(-50%);
}
@media screen and (min-width: 599px) and (max-width: 1200px) {
  .location .location--currentLocation .fa-location-dot {
    left: -60px;
  }
}
@media screen and (min-width: 1200px) {
  .location .location--currentLocation .fa-location-dot {
    left: -35%;
  }
}
@media screen and (min-width: 599px) and (max-width: 1200px) {
  .location {
    height: 80px;
    font-size: 1.1rem;
  }
}
@media screen and (min-width: 1200px) {
  .location {
    height: 100px;
    font-size: 1.3rem;
    padding: 0;
    margin: 0;
  }
}

.explore {
  height: 287px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 8% 0 8%;
  background-color: #F6F6F6;
}
.explore h1 {
  font-size: 1.5rem;
  text-align: center;
  margin: 0 5.3% 20px 5.3%;
}
@media screen and (min-width: 599px) and (max-width: 1200px) {
  .explore h1 {
    font-size: 1.7rem;
  }
}
@media screen and (min-width: 1200px) {
  .explore h1 {
    font-size: 2.2rem;
    margin: 20px 5.3% 20px 5.3%;
  }
}
.explore h2 {
  font-weight: 400;
  font-size: 1.1rem;
  text-align: center;
  margin-bottom: 28px;
}
@media screen and (min-width: 599px) and (max-width: 1200px) {
  .explore h2 {
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 1200px) {
  .explore h2 {
    font-size: 1.4rem;
  }
}
.explore .explore--button {
  font-size: 1.1rem;
  width: 220px;
  height: 50px;
  border: none;
  border-radius: 50px;
  background: linear-gradient(175deg, #FF79DA, #9356DC);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-out;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  text-decoration: none;
}
.explore .explore--button:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
  filter: brightness(1.1);
}
@media screen and (min-width: 599px) and (max-width: 1200px) {
  .explore .explore--button {
    width: 242px;
    height: 55px;
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 1200px) {
  .explore .explore--button {
    width: 264px;
    height: 60px;
    font-size: 1.3rem;
  }
}
@media screen and (min-width: 599px) and (max-width: 1200px) {
  .explore {
    height: fit-content;
    padding-bottom: 18px;
    margin: 0;
  }
}
@media screen and (min-width: 1200px) {
  .explore {
    height: fit-content;
    padding-bottom: 32px;
    margin: 0;
  }
}

.operation {
  padding: 44px 5.3% 44px 5.3%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 440px;
}
.operation .operation--title {
  font-size: 1.5rem;
  margin: 0;
}
@media screen and (min-width: 599px) and (max-width: 1200px) {
  .operation .operation--title {
    padding-top: 20px;
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 1200px) {
  .operation .operation--title {
    padding-top: 20px;
    font-size: 2rem;
  }
}
.operation .operation--buttons {
  min-height: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 4px;
}
@media screen and (min-width: 599px) and (max-width: 1200px) {
  .operation .operation--buttons {
    width: 100%;
    height: fit-content;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1200px) {
  .operation .operation--buttons {
    flex-direction: row;
    width: 100%;
    padding: 0 15%;
    height: fit-content;
    justify-content: space-between;
  }
}
.operation .operation--button {
  width: 100%;
  height: 75px;
  background-color: #F6F6F6;
  border-radius: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  position: relative;
  align-items: center;
  transition: all 0.3s ease-out;
}
.operation .operation--button:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
  background-color: rgba(146, 86, 220, 0.1764705882);
}
.operation .operation--button:hover .fa-solid {
  color: #9356DC;
}
@media screen and (min-width: 599px) and (max-width: 1200px) {
  .operation .operation--button {
    margin: 15px;
    width: 60%;
    height: 90px;
  }
}
@media screen and (min-width: 1200px) {
  .operation .operation--button {
    margin: 15px;
    width: 450px;
    height: 100px;
  }
}
@media screen and (min-width: 1200px) {
  .operation {
    width: 100%;
    justify-content: flex-start;
    margin: 0;
    height: fit-content;
  }
}
@media screen and (min-width: 599px) and (max-width: 1200px) {
  .operation {
    width: 100%;
    justify-content: flex-start;
    margin: 0;
    height: fit-content;
  }
}

.operation--button__title {
  color: #000000;
  transition: all 0.3s ease-out;
  font-weight: 700;
  position: relative;
  width: 100%;
}
@media screen and (min-width: 599px) and (max-width: 1200px) {
  .operation--button__title {
    font-size: 1.1rem;
  }
}
@media screen and (min-width: 1200px) {
  .operation--button__title {
    font-size: 1.2rem;
    padding-right: 5px;
  }
}

.fa-solid {
  font-size: 1rem;
  color: #7e7e7e;
  padding: 0 6% 0 15%;
}
@media screen and (min-width: 599px) and (max-width: 1200px) {
  .fa-solid {
    font-size: 1.4rem;
  }
}
@media screen and (min-width: 1200px) {
  .fa-solid {
    font-size: 1.6rem;
  }
}

.operation--button__number {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 50%;
  transform: translateY(-50%);
  left: -10px;
  border-radius: 50%;
  background-color: #9356DC;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  font-size: 0.6rem;
}
@media screen and (min-width: 599px) and (max-width: 1200px) {
  .operation--button__number {
    width: 40px;
    height: 40px;
    font-size: 0.8rem;
    left: -12.5px;
  }
}
@media screen and (min-width: 1200px) {
  .operation--button__number {
    width: 45px;
    height: 45px;
    font-size: 1rem;
    left: -15px;
  }
}

#restaurants {
  padding: 0 5.3% 0 5.3%;
  margin-bottom: 65px;
  height: 1225px;
  display: flex;
  flex-direction: column;
  background-color: #F6F6F6;
  width: 100%;
}
#restaurants .restaurants--title {
  font-size: 1.5rem;
  padding: 44px 0 0 0;
  margin: 0;
}
@media screen and (min-width: 599px) and (max-width: 1200px) {
  #restaurants .restaurants--title {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 1200px) {
  #restaurants .restaurants--title {
    font-size: 2rem;
    justify-content: flex-start;
    padding: 44px 0 44px 0;
  }
}
@media screen and (min-width: 599px) and (max-width: 1200px) {
  #restaurants {
    height: fit-content;
    padding: 44px 5.3% 44px 5.3%;
    margin: 0;
  }
}
@media screen and (min-width: 1200px) {
  #restaurants {
    height: fit-content;
    padding: 44px 5.3% 44px 5.3%;
    margin: 0;
  }
}

.restaurants--cards {
  height: 1205px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
@media screen and (min-width: 599px) and (max-width: 1200px) {
  .restaurants--cards {
    height: fit-content;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 30px;
    justify-content: space-around;
  }
}
@media screen and (min-width: 1200px) {
  .restaurants--cards {
    height: fit-content;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 30px;
    justify-content: space-around;
  }
}

.restaurant--card {
  width: 100%;
  height: 250px;
  display: flex;
  flex-direction: column;
  margin: 9px 0;
  position: relative;
  border-radius: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-out;
  text-decoration: none;
  color: #000000;
}
.restaurant--card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
}
@media screen and (min-width: 599px) and (max-width: 1200px) {
  .restaurant--card {
    width: 368.5px;
    height: 275px;
  }
}
@media screen and (min-width: 1200px) {
  .restaurant--card {
    width: 402px;
    height: 300px;
  }
}
.restaurant--card .restaurant--card__img {
  width: 100%;
  height: 174px;
  border-radius: 15px 15px 0 0;
  object-fit: cover;
}
@media screen and (min-width: 599px) and (max-width: 1200px) {
  .restaurant--card .restaurant--card__img {
    height: 191.4px;
  }
}
@media screen and (min-width: 1200px) {
  .restaurant--card .restaurant--card__img {
    height: 208.8px;
  }
}
.restaurant--card .restaurant--card__content {
  height: 77px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  padding: 17px 0 17px 4%;
  background-color: white;
  border-radius: 0 0 15px 15px;
}
@media screen and (min-width: 599px) and (max-width: 1200px) {
  .restaurant--card .restaurant--card__content {
    font-size: 1.2rem;
    height: 84.7px;
  }
}
@media screen and (min-width: 1200px) {
  .restaurant--card .restaurant--card__content {
    font-size: 1.5rem;
    height: 92.4px;
  }
}
.restaurant--card h4 {
  margin: 0;
  font-weight: 900;
  font-size: 1.1rem;
}
@media screen and (min-width: 599px) and (max-width: 1200px) {
  .restaurant--card h4 {
    font-size: 1.3rem;
  }
}
@media screen and (min-width: 1200px) {
  .restaurant--card h4 {
    font-size: 1.6rem;
  }
}
.restaurant--card a {
  text-decoration: none;
  color: #000000;
}
.restaurant--card .restaurant--card__like,
.restaurant--card .addRestaurant--card__like {
  position: absolute;
  display: inline-block;
  right: 7.5%;
  top: 50%;
  width: 20px;
  height: 25px;
  transform: translateY(-50%);
  transition: all 0.3s ease-out;
  cursor: pointer;
}
.restaurant--card .restaurant--card__like .fa-heart,
.restaurant--card .addRestaurant--card__like .fa-heart {
  transition-duration: 0.25s;
  font-size: 2rem;
}
.restaurant--card .restaurant--card__like .fa-heart:hover,
.restaurant--card .addRestaurant--card__like .fa-heart:hover {
  font-weight: 900;
  background: linear-gradient(to bottom, #9356DC, #FF79DA);
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}
@media screen and (min-width: 599px) and (max-width: 1200px) {
  .restaurant--card .restaurant--card__like,
.restaurant--card .addRestaurant--card__like {
    width: 30px;
    height: 35px;
  }
}
@media screen and (min-width: 1200px) {
  .restaurant--card .restaurant--card__like,
.restaurant--card .addRestaurant--card__like {
    width: 40px;
    height: 45px;
  }
}
.restaurant--card .restaurant--card__new {
  position: absolute;
  width: 24%;
  height: 12%;
  right: 14px;
  top: 14px;
  border-radius: 5px;
  background-color: #99E2D0;
  color: #008766;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes spinner {
  0% {
    transform: rotate(0);
    opacity: 1;
  }
  25% {
    transform: rotate(70deg);
    opacity: 1;
  }
  50% {
    transform: rotate(150deg);
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    transform: rotate(360deg);
    opacity: 0;
  }
}
@keyframes show {
  100% {
    transform: translate(0);
  }
}
@keyframes hide {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
body ul,
body li {
  padding: 0;
}
body li {
  list-style-type: none;
}

/*# sourceMappingURL=style.css.map */
